body {
    background-image: url("/images/background1.gif");
    background-repeat: repeat;
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2rem;
}

.fire-container {
    display: flex;
    justify-content: center;
}

.erick-banner {
    display:flex;
    flex-direction:column;
    align-items: center;
}

table, th, td {
    border: 1px solid white;
  }

.table {
    display: flex;
    justify-content: center;
}

/* .cell {
    display: flex;
    justify-content: center;
} */

p {
    color: white;
}