body {
    background-image: url("/images/background1.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    /* background-color: black; */
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2rem;
}

.fire-container {
    display: flex;
    justify-content: center;
}

.erick-banner {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.border {
    border: 5px solid rgb(255, 0, 0);
  }

table, th, td {
    border: 1px solid white;
  }

.table {
    display: flex;
    justify-content: center;
}

a {
    color: red;
}

a:visited {
    color: rgb(136, 9, 9);
}

/* .cell {
    display: flex;
    justify-content: center;
} */

p {
    color: white;
}

.cell {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

footer div {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.dim-image {
    filter: brightness(50%);
}

.aboutme {
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 15rem;
    background-image: url("/images/matrixbackground.gif");
}


.hide {
    display: none;
}

#react {
    color: rgb(17, 188, 231);
}

#python {
    color: rgb(132, 214, 132);
}