body {
    background-image: url("/images/background1.gif");
    background-repeat: repeat;
    background-attachment: fixed; 
    /* background-color: black;
    /* background: rgb(69,6,136);
    background: linear-gradient(172deg, rgba(69,6,136,1) 0%, rgba(105,38,71,1) 37%, rgba(108,146,207,1) 82%, rgba(247,39,39,1) 100%); */
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2rem;
}

.fire-container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
}

.erick-banner {
    color: rgb(36, 36, 34);
    display:flex;
    flex-direction:column;
    align-items: center;
    text-shadow: 3px 3px red;
}

.vaporwave {
    background: rgb(69,6,136);
    background: linear-gradient(172deg, rgba(69,6,136,1) 0%, rgba(105,38,71,1) 37%, rgba(108,146,207,1) 82%, rgba(247,39,39,1) 100%);

}

.vaporwave div {
    display: flex;
    justify-content: center;
}

.vwave-pics img {
    max-width: 25%;
}

.dance {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



.user-info {
    
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    background-color: black;
}

.discoball img {
    margin-bottom: 10rem;
}



.discoball {
    display: flex;
    justify-content: center;
}

#profile-photo {
    /* width: 300px;
    height: 250px; */
    max-width: 100%;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
}


.dancefloor {
    display: flex;
    justify-content: center;
}

.border {
    border: 5px solid rgb(255, 0, 0);
  }

table, th, td {
    border: 1px solid white;
  }

.table {
    display: flex;
    justify-content: center;
}

a {
    color: red;
}

a:visited {
    color: rgb(136, 9, 9);
}

/* .cell {
    display: flex;
    justify-content: center;
} */

p {
    color: white;
}

.cell {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.cell div {
    padding: 1rem;
}

footer div {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.dim-image {
    filter: brightness(50%);
}

.aboutme {
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 15rem;
    background-image: url("/images/matrixbackground.gif");
}


.hide {
    display: none;
}

#react {
    color: rgb(17, 188, 231);
}

#python {
    color: rgb(132, 214, 132);
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    //CSS
    
  }